.container {
  &-1760 {
    max-width: 1784px !important;
  }

  @include media-breakpoint-down(xxl) {
    max-width: 1300px;
  }

  @media (min-width: 1600px) {
    max-width: 1518px;
  }
}

// swiper arrow design 
.swiper {
  &-button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    background-color: color(50);

    em {
      color: color(900);
    }

    &-prev,
    &-next {
      &:after {
        display: none !important;
      }
    }

    &-prev {
      left: -30px !important;
    }

    &-next {
      right: -30px !important;
    }
  }
}

.bgGrediantSection {
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    width: calc(100% - 200px);
    height: 340px;
    background-image: linear-gradient(to bottom, rgba(96, 30, 249, 1), rgba(color(50), 0));
    @include absolutecenter('both');
    top: calc(50% + 70px);
    z-index: -1;
    border-radius: 300px;
    filter: blur(60px);
    opacity: 0.55;
  }

  &-sm{
    &:after {
      width: calc(100% + 100px);
      top: 50%;
    }
  }
}

//common gradient border
.commonBorder {
  position: relative;
  z-index: 1;
  border: 2px solid transparent;
  border-image-slice: 1;
  border-radius: 30px;
  background-color: rgba(color(500), 0.41);

  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(to right,
        rgba(204, 158, 255, 0.28) 0%,
        rgba(172, 103, 250, 0.0) 50%,
        rgba(141, 49, 245, 0.22) 100%);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
}

// free trial page scss 
.freeTrialBanner{
  min-height: 900px;
  display: flex;
  align-items: center;
  padding-top: 200px!important;
  background-color: color(500);
  border-radius: 0 0 40px 40px;
  h1{
    font-size: 68px;
    font-family: font(bd);
    color: color(50);
    margin-bottom: 30px;
    span{
      color: color(600);
    }
  }
  p{
    font-size: 22px;
    line-height: normal;
    + p{
      font-size: 18px;
      font-family: font(lt);
      color: rgba(color(50), 0.70);
      margin-bottom: 50px;
    }
  }

  &_form{
    background-color: color(50);
    border-radius: 20px;
    padding: 35px;
  }
}