.container {
  &-1760{
    max-width: 1784px!important;
  }
  @include media-breakpoint-down(xxl){
    max-width: 1300px;
  }
  @media (min-width: 1600px) {
    max-width: 1518px;
  }
}

// swiper arrow design 
.swiper{
  &-button{
    width: 60px!important;
    height: 60px!important;
    border-radius: 50%;
    background-color: color(50);
    em{
      color: color(900);
    }
    &-prev, &-next{
      &:after{
        display: none!important;
      }
    }
    &-prev{
      left: -30px!important;
    }
    &-next{
      right: -30px!important;
    }
  }
}

.bgGrediantSection{
  position: relative;
  z-index: 1;
  &:after{
    content: '';
    width: calc(100% - 200px);
    height: 340px;
    background-image: linear-gradient(to bottom, rgba(96,30,249, 1), rgba(color(50), 0));
    @include absolutecenter('both');
    top: calc(50% + 70px);
    z-index: -1;
    border-radius: 300px;
    filter: blur(60px);
    opacity: 0.55;
  }
}