.header{
    z-index: 9999;
 
    .headerTop{
        background-color: color(900);
        padding: 7px 0;
        p{
            font-size: 13px;
            color: color(50);
            font-family: font(rg);
            line-height: 1;
        }
    }
    .navbar{
        padding: 10px 0;
        background-color: transparent;
        &-brand{
            padding: 0!important;
            display: inline-block;
            img{
                max-width: 140px;
            }
        }
        &-nav{
            .nav-item{
                .nav-link{
                    font-size: 16px;
                    font-family: font(md);
                    color: color(50);
                    &.active{
                        font-family: font(sm);
                    }
                }
                &:hover{
                    .megaMenu{
                        display: block;
                    }
                }
                &:not(:last-child){
                    .nav-link{
                        margin-right: 40px;
                    }
                }
            }
        }
        &-toggler{
            &:focus{
                box-shadow: none;
            }
        }
        .headerBtn{
            .btn{
                line-height: 3;
                height: 42px;
                margin-left: 10px;
                &-login{
                    width: 76px; 
                    color: #fff;
                }
            }
        }
        .flagDropdown{
            .btn{
                padding: 0;
                background-color: rgba(255,255,255,0.18);
                border: 0;
                width: 73px;
                justify-content: start !important;
                padding-left: 6px;
                &:hover, &:focus, &:active{
                    background-color: rgba(255,255,255,0.18) !important;
                }
                em{
                    color: #fff;
                    font-size: 12px;
                }
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: #fff;


                }
            }
            .dropdown-menu{
                position: absolute;
                overflow: hidden;
                width: 100px; 
                padding: 10px;
                top: 59px;
                right: auto;
                left: 0;
                a{
                    font-family: font(sm);
                    &:hover, &:focus{
                        background-color: transparent;
                        color: #000;
                    }
                }
            }
        }
        .dropdown{
            &-product{
               .dropdown-menu{
                width: 1229px;
               }
            }
            &-solution{
                .dropdown-menu{
                    left: 48%;
                    ul{
                        display: block;
                        flex-wrap: wrap;
                    }
                }
            }
            &-resources{
                .dropdown-menu{
                    left: 48%;
                    min-width: 271px;
                    ul{
                        display: block;
                        flex-wrap: wrap;
                    }
                }
            }
            &-company{
                .dropdown-menu{
                    left: 60%;
                    min-width: 264px;
                    ul{
                        display: block;
                        flex-wrap: wrap;
                    }
                }
            }
            &-menu{
                padding: 23px;
                border-radius: 20px;
                top: 113px;
                left: 50%;
                transform: translateX(-50%);
                position: fixed;
                border: 0;
              
                h3{
                    font-size: 18px;
                    text-transform: uppercase;
                    font-family: font(sm);
                    margin-bottom: 19px;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                }
                .dropdownItem{
                    padding: 7px 0px;
                    display: flex;
                    align-items: center;
                    flex-basis: 50%;
                    flex-grow: 1;
                    flex-shrink: 0;
                    a{
                        display: flex;
                        align-items: center;
                        flex-basis: 50%;
                        flex-grow: 1;
                        flex-shrink: 0;
                    }
                    &_icon{
                        height: 38px;
                        width: 38px;
                        border-radius: 8px;
                        display: block;
                        background-color: #F1F1F1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 12px;
                        color: #6755DF;
                        flex-shrink: 0;
                        font-size: 21px;
                    }
                    &_text{
                        font-size: 16px;
                        font-family: font(md);
                        color: #000;
                    }
                }
            }
        }
    }
    &-light{
        background-color: #222222;
        .navbar{
            .nav-item{
                .nav-link{
                    color: #fff;
                }
            }
            .nav{
                .flagDropdown{
                    .btn{
                        background-color: #676767;
                        &:hover, &:focus, &:active{
                            background-color: #676767 !important;
                        }
                    }
                }
            }
        }
    }
    &-search{
        color: color(900);
        font-size: 22px;
        display: inline-flex;
        margin-right: 25px;
        &:hover{
            color: color(900);
        }
    }
    @include media-breakpoint-down(xxl){
        .btn{
            padding-top: 5px;
            font-size: 16px;
        }
        .navbar{
            &-brand{
                img{
                    max-width: 140px;
                }
            }
            &-nav{
                .nav-item{
                    .nav-link{
                        padding: 20px 0;
                    }
                    &:not(:last-child){
                        .nav-link{
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
        &-search{
            margin-right: 15px;
        }
    }
    @include media-breakpoint-down(xl){
        .navbar{
            &-brand{
                margin-right: 40px;
            }
            .dropdown{
                &-product{
                    .dropdown-menu{
                        width: 100% !important;
                    }
                }
            }
           
            &-nav{
                .nav-item{
                    .nav-link{
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg){
        .navbar{
            .dropdown{
                &-menu{
                    position: static;
                    transform: none;
                    width: 100% !important;
                    max-height: 300px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    border-radius: 0;
                    h3{
                        font-size: 16px;
                    }
                }
            }
            &-toggler{
                background-color: #fff;
                padding: 2px 5px;
            }
        }
    }
 
    @include media-breakpoint-down(md){
        .navbar{
            padding: 10px 0;
            .dropdown {
                &-menu {
                    padding: 10px;
                    h3 {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    
                    .dropdownItem {
                        margin-bottom: 8px;
                        
                        &_icon {
                            height: 28px;
                            width: 28px;
                            font-size: 16px;
                        }
                        
                        &_text {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        .navbar{
            &-brand{
                margin-right: 0;
                img{
                    max-width: 100px;
                }
            }
            .headerBtn{
                margin-right: 10px !important;
                .btn{
                    height: 42px;
                    font-size: 16px;
                }
            } 
        }
    }
}
