.header{
    z-index: 9999;
    .headerTop{
        background-color: color(900);
        padding: 7px 0;
        p{
            font-size: 13px;
            color: color(50);
            font-family: font(rg);
            line-height: 1;
        }
    }
    .navbar{
        padding: 10px 0;
        background-color: transparent;
        &-brand{
            padding: 0!important;
            display: inline-block;
            img{
                max-width: 140px;
            }
        }
        &-nav{
            .nav-item{
                .nav-link{
                    font-size: 16px;
                    font-family: font(md);
                    color: color(50);
                    &.active{
                        font-family: font(sm);
                    }
                }
                &:hover{
                    .megaMenu{
                        display: block;
                    }
                }
                &:not(:last-child){
                    .nav-link{
                        margin-right: 40px;
                    }
                }
            }
        }
        &-toggler{
            &:focus{
                box-shadow: none;
            }
        }
        .headerBtn{
            .btn{
                min-width: 170px;
                line-height: 3;
                border: 0;
                height: 56px;
            }
        }
    }
    &-search{
        color: color(900);
        font-size: 22px;
        display: inline-flex;
        margin-right: 25px;
        &:hover{
            color: color(900);
        }
    }
    @include media-breakpoint-down(xxl){
        .navbar{
            &-brand{
                img{
                    max-width: 140px;
                }
            }
            &-nav{
                .nav-item{
                    .nav-link{
                        padding: 20px 0;
                    }
                    &:not(:last-child){
                        .nav-link{
                            margin-right: 30px;
                        }
                    }
                }
            }
            .headerBtn{
                .btn{
                    min-width: 150px;
                }
            }
        }
        &-search{
            margin-right: 15px;
        }
    }
    @include media-breakpoint-down(xl){
        .navbar{
            &-brand{
                margin-right: 40px;
            }
            &-nav{
                .nav-item{
                    .nav-link{
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(lg){
        .navbar{
            &-collapse{
                padding-top: 15px;
            }
            &-nav{
                .nav-item{
                    .nav-link{
                        padding: 5px 0;
                    }
                    &:not(:last-child){
                        .nav-link{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        .navbar{
            padding: 10px 0;
            .headerBtn{
                .btn{
                    min-width: 120px;
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        .navbar{
            &-brand{
                img{
                    max-width: 120px;
                }
            }
            .headerBtn{
                .btn{
                    height: 42px;
                    font-size: 16px;
                }
            } 
        }
    }
}