.commonHead{
    margin-bottom: 35px;
    &_title{
        font-size: 48px;
        font-family: font(bd);
        letter-spacing: -2px!important;
    }
}

.commonSubHead{
    font-size: 40px;
    font-family: font(bd);
    margin-bottom: 40px;
}