.innerBanner{
    background-color: #1D0A46;
    background-image: url('#{$imageurl}/common/inner-banner-gradient.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 153px 0px 49px;
    border-radius: 0 0 40px 40px;
    .container{
        position: relative;
    }
    h1{
        font-size: 56px;
        font-family: font(bd);
        margin-bottom: 25px;
    }
    h2{
        font-size: 24px;
        font-family: font(rg);
        line-height: 1.5;
    }
    &_right{
        img{
            margin-left: auto;
            display: block;
        }
    }
}