.commonList {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
        position: relative;
        padding-left: 38px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        font-family: font(rg);
        &:before {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            background-color: color(600);
            top: 5px;
            left: 0;
            border-radius: 50%;
        }

        &:not(:last-child) {
            &:after {
                position: absolute;
                content: '';
                width: calc(100% - 38px);
                height: 2px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                bottom: -2px;left: 38px;
                opacity: 0.18;
            }
        }
    }

    @include media-breakpoint-down(xxl) {
        li {
            font-size: 16px;
            &:before {
                width: 14px;
                height: 14px;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        li {
            padding-left: 28px;
            &:not(:last-child) {
                &:after {
                    left: 28px;
                }
            }
            &:before {
                width: 12px;
                height: 12px;
            }
        }
    }
}