.innerBanner{
    background-color: #1D0A46;
    background-image: url('#{$imageurl}/common/inner-banner-gradient.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 153px 0px 49px;
    border-radius: 0 0 40px 40px;
    &-sm{
        background-image: none;
        .breadcrumb{
            margin-bottom: 40px;
            left: 0px;
        }
    }
    .container{
        position: relative;
    }
    h1{
        font-size: 56px;
        font-family: font(bd);
        margin-bottom: 25px;
    }
    h2{
        font-size: 24px;
        font-family: font(rg);
        line-height: 1.5;
    }
    &_right{
        img{
            margin-left: auto;
            display: block;
        }
    }

    @include media-breakpoint-down(xxl){
        background-size: 67%;
    }

    @include media-breakpoint-down(xl){
        h1{
            font-size: 45px;
            margin-bottom: 15px;
        }
        h2{
            font-size: 22px;
        }
    }
    @include media-breakpoint-down(lg){
        padding-top: 120px;
        padding-bottom: 30px;
        h1{
            font-size: 38px;
        }
        h2{
            font-size: 18px;
        }
    }
    @include media-breakpoint-down(md){
        padding-top: 90px;
        h1{
            font-size: 32px;
            margin-bottom: 10px;
        }
        h2{
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(sm){
        &_right{
            margin-bottom: 20px;
        }
        &_left{
            text-align: center;
        }
    }



}