.percentBox{
    padding: 0 30px;
    background-color: rgba(255,255,255,0.10);
    border-radius: 24px;
    margin-bottom: 26px;
    height: 100%;
    &_head{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,0.7);
        padding-top: 10px;
    }
    &_text{
        font-size: 56px;
        margin-left: 13px;
        display: inline-block;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(149,115,222,1) 53%, rgba(255,255,255,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &_body{
        font-size: 18px;
        padding: 14px 0px;
    }

    &.commonBorder{
        background-color: rgba(color(500), 0.41);
        margin-bottom: 0px;
        .percentBox_head{
            border-color: rgba(color(50), 0.07);
        }
        .percentBox_body{
            font-size: 20px;
        }
        
    }
    @media(max-width:1599px){
        padding: 0 20px;
        &_head{
            img{
                width: 45px;
            }
        }
        &_text{
            font-size: 45px; 
        }
        &_body{
            font-size: 16px;
            padding: 12px 0px;
        }
    }
    @include media-breakpoint-down(xxl){
        padding: 0 15px;
        &_head{
            img{
                width: 35px;
            }
        }
        &_text{
            font-size: 35px; 
        }
    }
    @include media-breakpoint-down(xl){
        &_body{
            font-size: 16px !important;
        }
    }
    @include media-breakpoint-down(lg){
        border-radius: 16px;
        &_head{
            img{
                width: 30px;
            }
        }
        &_text{
            font-size: 30px;
        }
    }
   
}