.innerBanner{
    background-color: #1D0A46;
    background-image: url('#{$imageurl}/common/inner-banner-gradient.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 153px 0px 49px;
    border-radius: 0 0 40px 40px;
    &-sm{
        background-image: none;
        min-height: 450px;
        .breadcrumb{
            margin-bottom: 50px;
            left: 0px;
        }
    }
    .container{
        position: relative;
    }
    h1{
        font-size: 56px;
        font-family: font(bd);
        margin-bottom: 25px;
    }
    h2{
        font-size: 24px;
        font-family: font(rg);
        line-height: 1.5;
    }
    &_right{
        img{
            margin-left: auto;
            display: block;
            border-radius: 30px;
        }
    }

    .searchWrapper{
        min-width: 550px;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        .form-control{
            border-radius: 60px;
            padding: 10px 65px 10px 35px;
            &::placeholder{
                color: #737676;
            }
        }
        .btn{
            position: absolute;
            width: 44px;height: 44px;
            right: 10px;top: 50%;
            background-color: color(400);          
            transform: translateY(-50%);
            em{
                color: color(50);
                margin: 0;
                font-size: 18px;
            }
        }
    }


    @include media-breakpoint-down(xxl){
        background-size: 67%;
        h1{
            font-size: 45px;
            margin-bottom: 15px;
        }
        h2{
            font-size: 22px;
        }
    }
    @include media-breakpoint-down(lg){
        padding-top: 120px;
        padding-bottom: 30px;
        &-sm{
            min-height: auto;
        }
        h1{
            font-size: 38px;
        }
        h2{
            font-size: 18px;
        }
    }
    @include media-breakpoint-down(md){
        padding-top: 90px;
        &-sm{
            .breadcrumb{
                margin-bottom: 25px;
            }
        }
        h1{
            font-size: 32px;
            margin-bottom: 10px;
        }
        h2{
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(sm){
        h1{
            font-size: 26px;
        }
        &_right{
            margin-bottom: 20px;
        }
        &_left{
            text-align: center;
        }
    }



}