@font-face {
  font-family: 'icomoon';
  src: url('#{$fonturl}/icomoon.eot?htxhm8');
  src: url('#{$fonturl}/icomoon.eot?htxhm8#iefix') format('embedded-opentype'),
  url('#{$fonturl}/icomoon.ttf?htxhm8') format('truetype'),
  url('#{$fonturl}/icomoon.woff?htxhm8') format('woff'),
  url('#{$fonturl}/icomoon.svg?htxhm8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-setting:before {
  content: "\e915";
}
.icon-support:before {
  content: "\e916";
}
.icon-bank:before {
  content: "\e90d";
}
.icon-bed:before {
  content: "\e90e";
}
.icon-book-open:before {
  content: "\e90f";
}
.icon-box-check:before {
  content: "\e910";
}
.icon-brain:before {
  content: "\e911";
}
.icon-chart-pie:before {
  content: "\e912";
}
.icon-chat-settings:before {
  content: "\e913";
}
.icon-cpu:before {
  content: "\e914";
}
.icon-database:before {
  content: "\e915";
}
.icon-document:before {
  content: "\e916";
}
.icon-dollar-square:before {
  content: "\e917";
}
.icon-file-search:before {
  content: "\e918";
}
.icon-flask-round:before {
  content: "\e919";
}
.icon-folder-settings:before {
  content: "\e91a";
}
.icon-football-shirt:before {
  content: "\e91b";
}
.icon-grid:before {
  content: "\e91c";
}
.icon-hand-holding-user:before {
  content: "\e91d";
}
.icon-heart-pulse:before {
  content: "\e91e";
}
.icon-laptop-code:before {
  content: "\e91f";
}
.icon-magicoon:before {
  content: "\e920";
}
.icon-newspaper:before {
  content: "\e921";
}
.icon-note-list:before {
  content: "\e922";
}
.icon-note-text:before {
  content: "\e923";
}
.icon-papers-text:before {
  content: "\e924";
}
.icon-phone:before {
  content: "\e925";
}
.icon-phone-call:before {
  content: "\e926";
}
.icon-pills:before {
  content: "\e927";
}
.icon-shopping-cart:before {
  content: "\e928";
}
.icon-tool:before {
  content: "\e929";
}
.icon-truck:before {
  content: "\e92a";
}
.icon-user-search:before {
  content: "\e92b";
}
.icon-users-group-alt:before {
  content: "\e92c";
}
.icon-ex:before {
  content: "\e908";
}
.icon-facebook:before { 
  content: "\e909";
}
.icon-github:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-chat-setting:before {
  content: "\e900";
}

.icon-down:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-up:before {
  content: "\e903";
}

.icon-arrow-down:before {
  content: "\e904";
}

.icon-prev:before {
  content: "\e905";
}

.icon-next:before {
  content: "\e906";
}

.icon-support:before {
  content: "\e907";
}