.becomePartner{
    .introduction{
        .commonHead_title{
            span{
                color: color(500);
            }
        }
        p{
            font-size: 28px;
            color: color(900);
            line-height: 1.5;
            margin-bottom: 50px;
        }
        @include media-breakpoint-down(xxl){
            p{
                font-size: 24px;
                margin-bottom: 30px;
            }
        }
        @include media-breakpoint-down(lg){
            .commonHead{
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .balancedSec{
        background-color: color(900); 
        &_wrapper {
            max-width: 1130px;
            margin: 0 auto;
        }
        &_card{
            background-color: color(50);
            border-radius: 20px;
            padding: 35px 25px;
            h2{
                font-size: 130px;
                font-family: font(sm);
                margin-bottom: 0;
                height: 205px;
                display: flex;
                justify-content: center;
                align-items: end;
                line-height: 1;
            }
            &_img{
                height: 205px;
                @include flexcenter(both);
            }
            &_cnt{
                margin-top: 25px;
                h3{
                    font-size: 24px;
                    font-family: font(md);
                }
                p{
                    font-size: 18px;
                    font-family: font(lt);
                    line-height: 1.44;
                    margin-bottom: 0 ;
                }
            }
        }
        @include media-breakpoint-down(xl){
            &_card{
                padding: 25px;
                h2{
                    height: 150px;
                    font-size: 90px;
                }
                &_img{
                    height: 150px;
                    img{height: 100%;}
                }
                &_cnt{
                    h3{font-size: 22px;}
                    p{font-size: 17px;}
                }
            }
        }
    }

    .businessModel{
        h2{
            font-size: 65px;
            margin-bottom: 50px;
             
        }
        p{
            font-size: 22px;
            font-family: font(rg);
            margin-bottom: 20px;
        }
        ul{
            li{
                position: relative;
                font-family: font(md);
                font-size: 22px;
                display: flex;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                span{
                    font-size: 30px;
                    line-height: 1;
                    color: color(700);
                    display: flex;
                    margin-right: 10px;
                    margin-top: 7px;
                }
            }
        }
        .modelImg{
            &-1{
                // transform: translateY(-100px);
            }
            &-2{
                margin-top: 138px;
            }
        }
        @include media-breakpoint-down(xxl){
            h2{
                font-size: 45px;
                margin-bottom: 30px;
            }
            p{
                font-size: 20px;
            }
            ul{
                li{
                    font-size: 20px;
                }
            }
        }
        @include media-breakpoint-down(xl){
            h2{
                font-size: 38px;
                margin-bottom: 15px;
            }
            p{font-size: 18px;}
            ul{
                li{font-size: 18px;}
            }
        }
        @include media-breakpoint-down(lg){
            h2{font-size: 28px;}
        }
    }

    .franchise{
        background-color: #F9F8F6;
        &_list{
            display: flex;
            margin: 50px 0;
            p{
                color: color(500);
                font-size: 32px;
                font-family: font(md);
                padding: 0 60px;
                margin-bottom: 0;
                &:nth-child(2){
                    border-left: 1px solid #D2D0CC;
                    border-right: 1px solid #D2D0CC;
                }
            }
        }
        @media (max-width: 1599px){
            &_list{
                p{
                    font-size: 24px;
                    padding: 0 30px;
                }
            }
        }
        @include media-breakpoint-down(xl){
            &_list{
                margin: 30px 0;
            }
        }
        @include media-breakpoint-down(md){
            &_list{
                flex-wrap: wrap;
                p{
                    font-size: 20px;
                }
            }
        }
        @include media-breakpoint-down(sm){
            &_list{
                display: block;
                p{
                    border: 0!important;
                    margin-bottom: 15px;
                    padding: 0;
                }
            }
        }
    }
   
}
.franchiseModel{
    img{
        height: 415px;
        border-radius: 15px;
        object-fit: cover;
    }
    .btn-franchise{
        background-color: color(500);
        color: color(50);
        border-radius: 50px;
        padding: 10px 30px;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
    @include media-breakpoint-down(lg){
        .btn-franchise{
            bottom: 15px;
        }
    }
} 