.cmsPages {
    h3 {
        font-size: 28px;
        font-family: font(bd);
        margin-bottom: 25px;
    }

    h4 {
        font-size: 22px;
        font-family: font(sm);
        margin-bottom: 20px;
    }

    a {
        color: color(600);
        text-decoration: underline;
    }

    p {
        font-size: 20px;
        font-family: font(rg);
        color: color(50);
        margin-bottom: 25px;
        line-height: 1.6;
    }

    ul {
        list-style: none;
        margin-bottom: 40px;
        padding-left: 0;
        li {
            position: relative;
            font-size: 20px;
            font-family: font(rg);
            color: color(50);
            line-height: 1.6;
            margin-bottom: 15px;
            padding-left: 20px;
            &:before {
                position: absolute;
                content: '';
                width: 6px;
                height: 6px;
                background-color: color(50);
                border-radius: 50%;
                left: 0;top: 14px;
            }
        }
    }
    @include media-breakpoint-down(xl){
        h3 {
            font-size: 26px;
        }
        p {
            font-size: 18px;
        }
    }
    @include media-breakpoint-down(sm){
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 20px;
        }
        p, ul li {
            font-size: 16px;
        }
    }
}


.compliance{
    .commonHead{
        p{
            font-size: 18px;
            color: rgba(color(50), 0.70);
        }
    }
    &_card{
        padding: 20px;
        height: 355px;
        @include flexcenter(both);
        flex-direction: column;
        p{
            font-size: 24px;
            font-family: font(sm);
            margin-top: 55px;
        }
    }
    @include media-breakpoint-down(xl){
        &_card{
            img{
                max-width: 130px;
                margin: 0 auto;
            }
        }
    }
}