.contactUsForm{
    background-color: color(50);
    border-radius: 24px;
    padding: 45px 30px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    textarea{
        &.form-control{
            min-height: 236px!important;
        }
    }
}