.dietPlan{
    .dietPlanBanner{
        background-image: url('#{$imageurl}/diet-plan/banner-diet-plan.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 865px;
        display: flex;
        align-items: center;
        &_cnt{
            max-width: 480px;
            h1{
                font-size: 80px;
                 
                color: color(50);
                margin-bottom: 15px;
            }
            p{
                font-size: 22px;
                font-family: font(rg);
                margin-bottom: 50px;
                color: color(50);
            }
            .btn{
                min-width: 200px;
            }
        }
        @media (max-width: 1599px){
            height: 650px;
            &_cnt{
                h1{
                    font-size: 60px;
                }
                p{
                    font-size: 20px;
                    margin-bottom: 35px;
                }
                .btn{
                    min-width: 150px;
                    line-height: 1;
                }
            }
        }
        @include media-breakpoint-down(xxl){
            height: 550px;
            &_cnt{
                h1{font-size: 50px;}
                p{margin-bottom: 25px;}
            }
        }
        @include media-breakpoint-down(lg){
            background-position: -200px center;
            &_cnt{
                h1{font-size: 44px;}
                p{margin-bottom: 20px;}
            }
        }
        @include media-breakpoint-down(md){
            &_cnt{
                h1{font-size: 34px;}
                p{font-size: 16px;}
            }
        }
        @include media-breakpoint-down(sm){
            background-image: url('#{$imageurl}/diet-plan/banner-diet-plan-mobile.png');
            background-position: center;
            align-items: flex-start;
        }
    }
    .getOurPlans{
        background-color: #F9F8F6;
        &_cnt{
            h2{
                font-size: 80px;
                 
                color: color(900);
                margin-bottom: 30px;
                line-height: 1.18;
            }
            p{
                font-size: 22px;
                font-family: font(rg);
                margin-bottom: 20px;
                line-height: 1.45;
                padding-right: 60px;
            }
        }
        &_list{
            padding-left: 80px;
            li{
                width: calc(50% - 20px);
                margin-bottom: 50px;
                span{
                    width: 70px;height: 70px;
                    background-color: color(500);
                    border-radius: 50%;
                    font-size: 31px;
                    color: #F9F8F6;
                    margin-right: 20px;
                    flex-shrink: 0;
                    @include flexcenter(both);
                    font-family: font(md);
                    padding-top: 10px;
                }
                h3{
                    font-size: 28px;
                    font-family: font(sm);
                    margin-bottom: 6px;
                    line-height: 1;
                }
                p{
                    font-size: 18px;
                    font-family: font(rg);
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 1599px){
            &_cnt{
                h2{
                    font-size: 60px;
                }
            }
            &_list{
                padding-left: 0;
                li{
                    span{
                        width: 60px;
                        height: 60px;
                        flex-shrink: 0;
                    }
                }
            }
        }
        @include media-breakpoint-down(xxl){
            &_cnt{
                h2{
                    font-size: 45px;
                }
                p{
                    font-size: 20px;
                }
            }
            &_list{
                li{
                    margin-bottom: 40px;
                    h3{
                        font-size: 24px;
                    }
                    span{
                        width: 50px;
                        height: 50px;
                        font-size: 24px;
                    }
                }
            }
        }
        @include media-breakpoint-down(lg){
            &_cnt{
                h2{
                    font-size: 35px;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }
            &_list{
                li{
                    h3{font-size: 20px;}
                    span{font-size: 20px;}
                }
            }
        }
        @include media-breakpoint-down(sm){
            &_cnt{
                h2{
                    font-size: 30px;
                }
            }
            &_list{
                li{
                    width: 100%;
                    margin-bottom: 20px!important;
                }
            }
        }
    }
}