.bannerSec {
    background-image: url('#{$imageurl}/homepage/banner-bg.png');
    background-size: cover;
    min-height: 100vh;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_cnt {
        h1 {
            font-size: 82px;
            font-family: font(md);
            color: color(50);
            line-height: 1;
            letter-spacing: -5px;
            margin-bottom: 30px;
        }

        p {
            font-size: 20px;
            font-family: font(rg);
            color: color(50);
            margin-bottom: 30px;
            line-height: normal;
        }
    }

    .swiper-slide {
        position: relative;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .swiper-slide-active {
        opacity: 1;
    }

    .swiper-slide:not(.swiper-slide-active) {
        display: none;
    }
}

.trustedSec {
    .commonHead {
        &_title {
            letter-spacing: -0.06em !important;
        }
    }

    .trustedSwiper {
        border-radius: 30px;

        .swiper-slide {
            background-color: color(500);
            border-radius: 30px;
        }

        &_left {
            padding: 20px 20px 20px 80px;

            h3 {
                font-size: 40px;
                font-family: font(bd);
                margin-bottom: 20px;
                line-height: 1.3;
            }

            p {
                font-size: 22px;
                font-family: font(rg);
                margin-bottom: 40px;
            }
        }

        &_right {
            padding: 24px;
            display: flex;
            justify-content: flex-end;

            img {
                border-radius: 26px;
                margin-left: auto;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 60px;
            background-color: color(50);
            color: white;
            border-radius: 50%;
            z-index: 10;
            @include flexcenter('both');
            cursor: pointer;
        }

        .swiper-button-prev {
            left: -30px;
        }

        .swiper-button-next {
            right: -30px;
        }
    }
}

.solutionHome {
    .solutionHomeCard {
        position: relative;
        z-index: 1;
        border: 2px solid transparent;
        border-image-slice: 1;
        border-radius: 30px;
        background-color: rgba(color(500), 0.41);
        @include transition(all 0.3s ease);

        &:after {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border-radius: 30px;
            padding: 2px;
            background: linear-gradient(to right,
                    rgba(204, 158, 255, 0.28) 0%,
                    rgba(172, 103, 250, 0.0) 50%,
                    rgba(141, 49, 245, 0.22) 100%);
            -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
        }

        &_img {
            border-radius: 30px;
        }

        img {
            height: 275px;
            object-fit: cover;
            @include transition(all 0.3s ease);
        }

        &_cnt {
            padding: 30px;

            h3 {
                font-size: 28px;
                font-family: font(sm);
                margin-bottom: 15px;
            }

            p {
                font-size: 18px;
                color: rgba(color(50), 0.70);
                margin-bottom: 0;
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
                @include transition(all 0.3s ease);
            }
        }
    }
}

.ourWorks {
    background-color: color(500);

    &:before {
        position: absolute;
        width: 700px;
        height: 530px;
        content: '';
        bottom: 0;
        right: 0;
        background-image: url('#{$imageurl}/homepage/industries/background.png');
        background-size: 100%;
        z-index: 1;
    }
}

.innovateSec {
    &_img {
        .btn {
            position: absolute;
            bottom: 20px;
            left: 50px;

            &.top {
                top: 25px;
                bottom: auto;
                left: 25px;
            }

            &.right {
                left: auto;
                right: 25px;
            }
        }
    }
}