.workflowSection{
    background-image: url('#{$imageurl}/common/full-gradient.png');
    background-repeat: no-repeat;
    background-position: center 80%;
    .col{
        padding: 0 8px;
    }
}

.tranformingManufacture{
    background-color: #1D0A46;
    padding: 63px 0px;
    &_left{
        h1{
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            margin-bottom: 0;
        }
    }
    &_right{
        h2{
            font-size: 18px;
            font-family: font(md);
            margin-bottom: 20px;
            text-align: center;
            color: rgba(255,255,255,0.8);
        }
        .percentBox{
            padding: 0 30px;
            background-color: rgba(255,255,255,0.10);
            border-radius: 24px;
            margin-bottom: 26px;
            &_head{
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba(255,255,255,0.7);
                padding-top: 10px;
            }
            &_text{
                font-size: 56px;
                margin-left: 13px;
                display: inline-block;
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(149,115,222,1) 53%, rgba(255,255,255,1) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &_body{
                font-size: 18px;
                padding: 14px 0px;
            }
            @media(max-width:1599px){
                padding: 0 20px;
                &_head{
                    img{
                        width: 45px;
                    }
                }
                &_text{
                    font-size: 45px; 
                }
                &_body{
                    font-size: 16px;
                    padding: 12px 0px;
                }
            }
            @include media-breakpoint-down(xxl){
                padding: 0 15px;
                &_head{
                    img{
                        width: 35px;
                    }
                }
                &_text{
                    font-size: 35px; 
                }
            }
            @include media-breakpoint-down(xl){
                &_body{
                    font-size: 14px;
                }
            }
            @include media-breakpoint-down(lg){
                border-radius: 16px;
                &_head{
                    img{
                        width: 30px;
                    }
                }
                &_text{
                    font-size: 30px;
                }
            }
           
        }
    }

    @include media-breakpoint-down(lg){
        padding: 40px 0px;
    }
    @include media-breakpoint-down(lg){
       &_left{
        text-align: center;
       }
    }
    @include media-breakpoint-down(md){
        padding-bottom: 15px;
        &_left{
            h1{
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
            }
        }
        &_right{
            margin-top: 30px;
        }
    }
    @media(max-width:480px){
        .col-6{
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
    
}

.featuredAi{
    padding-bottom: 54px;
    .featuredBox{
        height: 100%;
        padding-bottom: 26px;
        &_inner{
            border: 1px solid rgba(204, 158, 255, 0.3); 
            background-color: rgba(29,10,70,.41);
            height: 100%;
            padding: 30px;
            border-radius: 20px;
        }
        h2{
            font-size: 22px;
            font-family: font(sm);
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            color: rgba(255,255,255,0.70);
            margin-bottom: 0px;
        }
        @include media-breakpoint-down(xl){
            &_inner{
                padding: 20px;
                border-radius: 16px;
                h2{
                    font-size: 18px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.solutionApproach{
    background-color: #1D0A46;
}

.whyChoose{
    &_inner{
        background-color: #1D0A46;
        border: 1px solid rgba(204, 158, 255, 0.3); 
        padding: 77px 269px;
        text-align: center;
        border-radius: 30px;
        h1{
            margin-bottom: 29px;
        }
        p{
            color: rgba(255,255,255,0.7);
            font-size: 18px;
            a{
                color:#FFAF00;
                text-decoration: underline;
            }
        }
    }
    @include media-breakpoint-down(xxl){
        &_inner{
            padding:40px 100px;
        }
    }
    @include media-breakpoint-down(lg){
        &_inner{
            padding: 30px;
        }
    }
}

.Blog{
    h1{
        margin-bottom: 30px;
    }
    .blogBox{
        position: relative;
        &_date{
            background-image: url('#{$imageurl}/common/blog-shap.png');
            background-repeat: no-repeat;
            height: 80px;
            width: 200px;
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 12px;
        }
        img{
            margin-bottom: 26px;
        }
        p{
            font-size: 24px;
            font-family: font(md);
        }
    }
    @include media-breakpoint-down(lg){
        .blogBox{
            img{
                margin-bottom: 15px;
            }
            p{
                font-size: 17px;
            }
        }
    }
    @include media-breakpoint-down(md){
        .blogBox{
            p{
                font-size: 16px;
            }
        }
    }
    @media(max-width:480px){
        padding-bottom: 0px !important;
        .col-6{
            max-width: 100%;
            flex:0 0 100%;
            margin-bottom: 20px;
        }
    }
}

