
.workflowAutomation{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin: 0 auto;
        right: 0;
        width: 1633px;
        height: 213px;
        background: rgb(96,30,249);
        background: linear-gradient(0deg, rgba(96,30,249,1) 0%, rgba(255,255,255,0) 100%);
        opacity: 0.75;
        z-index: -1;
        filter: blur(60px);
    }
    .workflowAutomationBox{
        background-color: rgba(29,10,70,0.41);
        border-radius: 30px;
        padding: 49px 28px;
        text-align: center;
        border: 1px solid rgba(204, 158, 255, 0.3); 
        height: 100%;
       
        img{
            margin-bottom: 26px;
        }
        h2{
            font-size: 24px;
            font-family: font(md);
            margin-bottom: 25px;
        }
        p{
            color: rgba(255,255,255,.5);
            font-size: 18px;
            margin: 0;
        }
    }
}
