
.workflowSection {
   @include media-breakpoint-up(xl){
    .col{
        max-width: 20%;
    }
   }
   @include media-breakpoint-down(xl){
    .row{
        justify-content: center;
       }
    .col{
      margin-bottom: 20px;
    }
  }
 @media(max-width:575px){
    .col{
        flex: 0 0 100%;
        max-width: 100%;
    }
 }

}
.workflowAutomation{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin: 0 auto;
        right: 0;
        width: 100%;
        height: 213px;
        background: rgb(96,30,249);
        background: linear-gradient(0deg, rgba(96,30,249,1) 0%, rgba(255,255,255,0) 100%);
        opacity: 0.75;
        z-index: -1;
        filter: blur(60px);
    }
    .workflowAutomationBox{
        background-color: rgba(29,10,70,0.41);
        border-radius: 30px;
        padding: 40px 23px 30px 23px;
        text-align: center;
        // border: 1px solid rgba(204, 158, 255, 0.3); 
        height: 100%;
       
        img{
            margin-bottom: 26px;
        }
        h2{
            font-size: 24px;
            font-family: font(md);
            margin-bottom: 25px;
        }
        &_border{
            padding-bottom: 20px;
            border-bottom: 1px dashed rgba(color(50), 0.40);
        }
        p{
            color: rgba(255,255,255,.5);
            font-size: 18px;
            margin: 0;
        }
    }
    @media(max-width:1599px){
        .workflowAutomationBox{
            border-radius: 20px;
            padding: 35px 15px;
            img{
                max-width: 65px;
            }
        }
    }
    @include media-breakpoint-down(xl){
        .workflowAutomationBox{
            padding: 25px 15px;
            img{
                max-width: 55px;
            }
            h2{
                font-size: 22px;
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
            }
        }
    }
    @include media-breakpoint-down(lg){
        [class^="col-"]{
            margin-bottom: 24px;
        }
    }
    @include media-breakpoint-down(sm){
        [class^="col-"]{
            margin-bottom: 12px;
        }
    }
}

.automatedWorkflow{
     img{
        z-index: 1;
        position: relative;
    }
    .glow{
        &:after{
            content: '';
            position: absolute;
            display: block;
            transform: none;
            left: 0;
            margin: 0 auto;
            right: 0;
            width: 79%;
            height: 213px;
            background: #601ef9;
            background: linear-gradient(0deg, #601ef9 0%, rgba(255, 255, 255, 0) 100%);
            opacity: 0.75;
            filter: blur(149px);
            top:auto;
            bottom: 0;
          
        }
    }
    .automatedWorkflowList{
        position: relative;
        background-color: #1D0A46;
        padding: 112px 0;
        &:before{
            height: 365px;
            background-image: url('#{$imageurl}/workflow/curve.png');
            background-repeat: no-repeat;
            width: 100%;
            background-size: 100%;
            background-position: center;
            content: '';
            position: absolute;
            top: -202px;
            z-index: 2;
        }
        &:after{
            content: '';
            height: 40px;
            width: 100%;
            position: absolute;
            background-color: #1D0A46;
            top: -97px;
            z-index: -1;
        }
        &.noImg{
            &:before, &:after{
                display: none;
            }
        }
        h2{
            margin-bottom: 35px;
        }
        p{
            font-size: 18px;
            color: rgba(255,255,255,.70);
            max-width: 622px;
        }
        .mb-84{
            margin-bottom: 84px;
            z-index: 1;
            position: relative;
        }
    }
    @media(max-width:1599px){
        .automatedWorkflowList{
            padding: 45px 0px;
        }
    }
    @include media-breakpoint-down(xl){
        .automatedWorkflowList{
            h2{
                margin-bottom: 15px;
            }
            .mb-84{
                margin-bottom: 40px;
            }
        }
       
    }
    @include media-breakpoint-down(lg){
        .automatedWorkflowList{
            h2{
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
            }
        }
    }
    @media(max-width:575px){
        .automatedWorkflowList{
            padding: 20px 0px;
            .mb-84{
                margin-bottom: 20px;
            }
            &_left{
                order: 2;
            }
            &_right{
                order: 1;
                margin-bottom: 20px;
            }
        }
    }
}

.accordion {
    max-width: 900px;
    margin:0 auto;
    --bs-accordion-bg : #1D0A47;
    &-item{
      border: 0;
      margin-bottom: 10px;
      border-radius: 10px !important;
      overflow: hidden;
       
    }
    &-body{
        font-size: 18px;
        color: #fff;
        padding: 0 30px 30px;
    }
    &-button{
        font-size: 20px;
        font-family: font(sm);
        color: #fff !important;
        padding: 30px;
        box-shadow: none !important;
        background-color: #1D0A47 !important;
        &:after, &:not(.collapsed)::after{
           background-image: url('#{$imageurl}/common/arrow-icon.svg');
           transform-origin: 10px 5px;
        }
       
    }
}

.dataConnectors{
    background-color: #1D0A46;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        background: rgb(29,10,70);
        background: linear-gradient(0deg, rgba(29,10,70,1) 100%, rgba(255,255,255,0) 100%);
        filter: blur(49px);
        height: 100%;
        width: 17%;
        position: absolute;
        display: block;
        top: 0;
        z-index: 2;
        left: 0;
    }
    &::after{
        content: '';
        background: rgb(29,10,70);
        background: linear-gradient(0deg, rgba(29,10,70,1) 100%, rgba(255,255,255,0) 100%);
        filter: blur(49px);
        height: 100%;
        width: 17%;
        position: absolute;
        display: block;
        top: 0;
        z-index: 2;
        right: 0;
    }
    &_slider{
        height: fit-content;
    }
    .dataConnectorsBox{
        &_wrapper{
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }
        max-width: 219px;
        flex: 1;
        background-color: #fff;
        border-radius: 20px;
        height: 118px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
     
    }
    &_footer{
        text-align: center;
        margin-top: 87px;
        p{
            font-size: 18px;
            margin-bottom: 40px;
        }
        .btn{
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media(max-width:1699px){
        &:before{
            left: -61px;
        }
        &:after{
            right:-61px
        }
    }
    @include media-breakpoint-down(xxl){
      
        &_footer{
            margin-top: 55px;
        }
    }
    @include media-breakpoint-down(xl){
       .dataConnectorsBox{
            flex-basis: 144px;
            flex-shrink: 0;
       }
    }
    &_slider {
        overflow: hidden;
       
        .swiper-wrapper {
            transition-timing-function: linear !important;
        }
    
    }

   
    
}


.glow{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin: 0 auto;
        right: 0;
        width: 100%;
        height: 213px;
        background: rgb(96,30,249);
        background: linear-gradient(0deg, rgba(96,30,249,1) 0%, rgba(255,255,255,0) 100%);
        opacity: 0.75;
        filter: blur(60px);
    }
}
.z-1{
    z-index: 1;
    position: relative;
}
